*.tar
*.xz
*.lzma
*.lz4
*.a
*.bin

!.gitignore
!*.sh

.wireguard-fetch-lock
wireguard/

toolchain/
toolchain/clang/MODULE_LICENSE_BSD_LIKE
toolchain/clang/MODULE_LICENSE_MIT
toolchain/clang/NOTICE
toolchain/clang/bin/
toolchain/clang/clang-r349610.tar.gz
toolchain/clang/include/
toolchain/clang/lib64/
toolchain/clang/libexec/
toolchain/clang/manifest_5271481.xml
toolchain/clang/prebuilt_include/
toolchain/clang/runtimes_ndk_cxx/
toolchain/clang/share/
toolchain/clang/test/
toolchain/aarch64-linux-android-4.9
toolchain/clang/*.xz
toolchain/clang/*.gz
toolchain/clang/*.txt
toolchain/clang/!clang.sh
toolchain/!gcc.sh

out/
